# Patterns in python

In [2]:
n = 5 
for  i in range(1, n+1): 
    print("*" * i)

*
**
***
****
*****

In [2]:
n = 5 
for i in range(1,n+1): 
    for c in range(1, i+1): 
        print("1", end = " ");#end=" " lagane se nayi line mein jaane ke bajaye ek space ke saath agla output aayega (same line mein)
    print()

1
11
111
1111
11111

In [4]:
n = 5 
for i in range(1, n+1): 
    for c in range(1,i+1): 
        print(c, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [5]:
n = 5 
for i in range(1, n+1): 
    for c in range(1, i+1): 
        print(i, end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [6]:
n = 5 
x = 1
for i in range(1, n+1): 
    for c in range(1, i+1): 
        print(x, end=" ")
        x+=1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [7]:
n = 5 
for i in range(1, n+1): 
    for c in range(n-i+1): 
        print('1', end=" ")
    print()

1 1 1 1 1
1 1 1 1
1 1 1
1 1
1

In [8]:
n = 5 
for i in range(n, 0,-1): 
    for c in range(i): 
        print("1", end=" ")

    print()

1 1 1 1 1
1 1 1 1
1 1 1
1 1
1

In [9]:
n = 4 
for i in range(1,n+1): 
    for c in range(1,i+1): 
        print("1", end=" ")
    print() 
for i in range(1, n): 
    for c in range(n-i): 
        print("1", end=" ")
    print()

1
1 1
1 1 1
1 1 1 1
1 1 1
1 1
1

In [10]:
n = 8
for i in range(1,n+1): 
    if (i<=4): 
        for c in range(1, i+1): 
            print("1", end=" ")
        print()
    else: 
        for c in range(n-i): # n = 8 and i = 5 (8-5)
            
            print("1", end=" ")
        print()

1
1 1
1 1 1
1 1 1 1
1 1 1
1 1
1

In [1]:
n = 4 
for i in range(1,n+1): 
    for c in range(1,i+1): 
        print(i, end=" ")
    print() 
for i in range(1, n): 
    for c in range(n-i): 
        print(i, end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
1 1 1
2 2
3

In [12]:
n = 4 
for i in range(1, n+1): 
    for c in range(1, i+1): 
        print(i, end = " ")
    print()    
for i in range(n-1,0, -1): 
    for c in range(1, i+1): 
        print(i, end = " ")
    print()

1
2 2
3 3 3
4 4 4 4
3 3 3
2 2
1

In [13]:
n = 4 
for i in range(n, 0, -1): 
    for c in range(i): 
        print("1", end = " ")
    print()  
for i in range(2, n+1): 
    for c in range(1, i+1): 
        print("1", end = " ")
    print()

1 1 1 1
1 1 1
1 1
1
1 1
1 1 1
1 1 1 1

In [14]:
n = 5
for i in range(n):
    print(" " * (n - i - 1) + "* " * (i + 1), end = " ")
    print()

    *
   * *
  * * *
 * * * *
* * * * *

In [15]:
n = 5 
for i in range(1,n+1): 
    print(" "*(n-i), "* "*i, end = " ")
    print()

     *
    * *
   * * *
  * * * *
 * * * * *

In [16]:
# teach infinity
n = 5 
for i in range(n): # 0 to n-1
    print(" " * (n-i-1)+ "*" * (i+1), end = " ")
    print()

    *
   **
  ***
 ****
*****

In [17]:
n = 5 
for i in range(n,0,-1): 
    print(" "*(n-i), "*"*(2*i-1), end = " ")
    print()
for i in range(2,n+1): 
    print(" "*(n-i), "*"*(2*i-1), end = " ")
    print()

 *********
  *******
   *****
    ***
     *
    ***
   *****
  *******
 *********

In [47]:
n = 7
for i in range(1,n+1): 
    if(n<=4): 
        for s in range(2,i+1): 
            print(" ", end = " ")
        print() 
        for c in range(4,0,-1): 
            print("1", end = " ")
        print()
    else: 
        for s in range(6,0,-1): 
            print(" ", end = " ")
        print()
        for c in range(5,n+1): 
            print("1", end = "")
        print()

                              111111

In [51]:
n = 4
for i in range(n):
    print(' ' * i + '1' * (n - i))
for i in range(n - 2, -1, -1):
    print(' ' * i + '1' * (n - i))

1111
 111
  11
   1
  11
 111
1111

In [55]:
l = 4
s1 = 1
l1 = 1
for l in range(1, n+1): 
    for c in range(1,l+1):
        print("1", end = "")
    for s in range(5-(s1-1)): 
        print(" ", end = "")
    s1+=2    
    for c in range(1,l1+1):
        print("1", end = "")
    if l != 3:
        l1+=1

    print()

1     1
11   11
111 111
1111111

In [63]:
n = 4 
for i in range(n): 
    left = '1'*(i+1)
    right = '1'*(i+1)
    space = ' '*(n-i-1)
    print(left+space+right)

1   1
11  11
111 111
11111111

In [100]:
l = 4 # false
l1 =1
s1 = -2
for l in range(1, l+1):
    for c in range(4,l-1,-1): 
        print("1", end = "")
   
    for s in range(s1):
        print(" ", end = "")
    s1+=2  
    for c in range(3,l1-1,-1):
        print("1", end = "")
    if (l!=1):
        l1+=1
    
    print()

1111111
111111
11  11
1    1

In [92]:
l = 7 
s1 = -2
end = 'g'

 
for l in range(1, l+1): 
    for c in range(ord('a'), ord(end)+1):## Convert characters to ASCII
        print(chr(c), end = "")
        
    for s in range(s1+1):
        print(" ", end = "")
    s1+=2  
    if(l==1):
        end = ord(end)-1
        end = chr(end)
        
    for c in range(ord(end),ord('a')-1,-1):
        print(chr(c), end = "")
    if(l!=1):
        end = ord(end)-1
        end = chr(end)    
        
    print()

abcdefgfedcba
abcdef fedcba
abcde   edcba
abcd     dcba
abc       cba
ab         ba
a           a

In [67]:
end = 'g'
print(ord(end))
end = ord(end)-1
end = chr(end)
print(end)

103
f

In [116]:
l = 4 
for i in range(1, l+1): 
    for s in range(l-i,0,-1): 
        print(" ", end = "")
    for c in range(1,i+1): 
        print("* ", end = "")
    print()

   *
  * *
 * * *
* * * *

In [138]:
l = 4 
for i in range(1, l+1): 
    for s in range(0,i): 
        print(" ", end = "")
    for c in range(l-i, 0-1, -1): 
        print("* ", end = "")
    print()

 * * * *
  * * *
   * *
    *

In [146]:
l = 4 
for i in range(1, l+1): 
    for s in range(0,i-1): 
        print(" ", end = "")
    for c in range(l-i, 0-1, -1): 
        print("* ", end = "")
    print()    
 
for i in range(2, l+1): 
    for s in range(l-i,0,-1): 
        print(" ", end = "")
    for c in range(1,i+1): 
        print("* ", end = "")
    print()

* * * *
 * * *
  * *
   *
  * *
 * * *
* * * *