# Tuples

In [2]:
# A tuple is an immutable, ordered collection of elements in Python that allows duplicate
# values. It is defined using parentheses () and can store heterogeneous data types. Once 
# created, its elements cannot be modified, making it a fixed and hashable data structure.
# Tuples are commonly used for storing related pieces of information where immutability 
# ensures data integrity
# tuples are faster than list 
# use less memory than list 
# tuples used for Fixed Data and List used for Dynamic Data 
# faster access (tuples are faster than lists).

## Creation

In [12]:
# Creating a tuple
import sys 
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple)  # Output: (1, 2, 3, 4, 5)
print(type(my_tuple))
print(sys.getsizeof(my_tuple))

(1, 2, 3, 4, 5)
<class 'tuple'>
80

In [8]:
#Tuple with Different Data Types
mixed_tuple = (10, "Hello", 3.14, True)
print(mixed_tuple)  # Output: (10, "Hello", 3.14, True)

(10, 'Hello', 3.14, True)

In [18]:
#Single Element Tuple (Important)
single_element_tuple = (5,)  # Adding a comma is necessary
print(type(single_element_tuple))  # Output: <class 'tuple'>
print(single_element_tuple)

not_a_tuple = (5)  # Without comma, it's just an integer
print(type(not_a_tuple))  # Output: <class 'int'>
print(single_element_tuple)

<class 'tuple'>
(5,)
<class 'int'>
(5,)

In [3]:
#Tuple Without Parentheses (Packing)
#Without Parentheses (Implicit Tuple Creation)
packed_tuple = 1, 2, 3, "Python"
print(packed_tuple)  # Output: (1, 2, 3, "Python")
print(type(packed_tuple))

(1, 2, 3, 'Python')
<class 'tuple'>

In [22]:
#Using the tuple() Constructor
t3 = tuple([1, 2, 3])#From an iterable (like a list, string, or set):
t4 = tuple("abc")
t5 = tuple({1, 2, 3})
print(t3)
print(t4)
print(t5)

(1, 2, 3)
('a', 'b', 'c')
(1, 2, 3)

In [26]:
#Creating an Empty Tuple
empty_tuple1 = ()
empty_tuple2 = tuple()
print(empty_tuple1)
print(empty_tuple2)
print(type(empty_tuple1))
print(type(empty_tuple2))

()
()
<class 'tuple'>
<class 'tuple'>

In [30]:
#Using Tuple Comprehension (Generator Inside tuple())
t = tuple(i for i in range(5))
print(t)

(0, 1, 2, 3, 4)

In [38]:
# tuple Packing 
a,b,c = 10, 20, 30
t7 = a,b,c
print(t7)

(10, 20, 30)

In [42]:
#tuple from dictionary 
d = {"a": 1, "b": 2, "c": 3}
t9 = tuple(d.keys())    # ('a', 'b', 'c')
t10 = tuple(d.values())  # (1, 2, 3)
print(t9)
print(t10)

('a', 'b', 'c')
(1, 2, 3)

In [9]:
#Using zip() Function to Create Tuple of Pairs
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
t11 = tuple(zip(list1, list2))  # ((1, 'a'), (2, 'b'), (3, 'c'))
print(t11)

((1, 'a'), (2, 'b'), (3, 'c'))

In [48]:
# Using eval() (Not Recommended for Security Reasons)
t12 = eval("(10, 20, 30)")
print(t12)

(10, 20, 30)

In [50]:
from collections import namedtuple
Person = namedtuple("Person", ["name", "age"])
p1 = Person("Alice", 25)  # Tuple with named fields
print(p1)

Person(name='Alice', age=25)

## Access Elements in a Tuple

In [53]:
#Accessing Elements Using Indexing ([]) 
t = (10, 20, 30, 40, 50)

print(t[0])   # Output: 10 (First element)
print(t[2])   # Output: 30 (Third element)
print(t[-1])  # Output: 50 (Last element)
print(t[-3])  # Output: 30 (Third element from the end)
# Note: Trying to access an index out of range (t[10]) will raise an IndexError

10
30
50
30

In [55]:
# Accessing a Range of Elements Using Slicing ([:])
# start (inclusive), end (exclusive), and step (optional)
t = (10, 20, 30, 40, 50, 60)

print(t[1:4])    # Output: (20, 30, 40) → Elements from index 1 to 3
print(t[:3])     # Output: (10, 20, 30) → First three elements
print(t[3:])     # Output: (40, 50, 60) → Elements from index 3 to end
print(t[::2])    # Output: (10, 30, 50) → Every second element
print(t[::-1])   # Output: (60, 50, 40, 30, 20, 10) → Reverse tuple

(20, 30, 40)
(10, 20, 30)
(40, 50, 60)
(10, 30, 50)
(60, 50, 40, 30, 20, 10)

In [57]:
#Accessing Elements Using for Loop
t = ("apple", "banana", "cherry")

for item in t:
    print(item)

apple
banana
cherry

In [59]:
#Accessing Elements Using enumerate()
#enumerate() provides both the index and value while looping
t = ("Python", "Java", "C++")

for index, value in enumerate(t):
    print(f"Index {index}: {value}")

Index 0: Python
Index 1: Java
Index 2: C++

In [61]:
#Accessing Elements Using tuple.index(value)
# Finds the index of the first occurrence of a value.
t = (10, 20, 30, 40, 50)

print(t.index(30))  # Output: 2 (Index of 30)
# Note: If the value is not found, it raises a ValueError.

2

In [63]:
# Accessing Elements Using tuple.count(value)
# Returns how many times a value appears in the tuple
t = (10, 20, 30, 20, 40, 20)

print(t.count(20))  # Output: 3 (20 appears three times)

3

In [65]:
# Accessing Elements Using zip() (If Tuple Contains Multiple Lists)
# zip() can be used to access corresponding elements of multiple tuples.
t1 = (1, 2, 3)
t2 = ("a", "b", "c")

for num, char in zip(t1, t2):
    print(num, char)

1 a
2 b
3 c

In [67]:
# Accessing Elements Using Unpacking (* Operator)
t = (10, 20, 30)

a, b, c = t
print(a, b, c)  # Output: 10 20 30

10 20 30

In [69]:
t = (10, 20, 30, 40, 50)

a, *b, c = t
print(a)  # Output: 10
print(b)  # Output: [20, 30, 40] (Middle values as a list)
print(c)  # Output: 50

10
[20, 30, 40]
50

In [71]:
# Accessing Elements in Nested Tuples
t = (10, (20, 30, (40, 50)))

print(t[1])       # Output: (20, 30, (40, 50)) → Accessing nested tuple
print(t[1][2])    # Output: (40, 50) → Accessing inner tuple
print(t[1][2][1]) # Output: 50 → Accessing element inside inner tuple

(20, 30, (40, 50))
(40, 50)
50

## Tuple Operations in Python

### Merging Tuple

In [75]:
# Using + Operator (Concatenation):
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
merged_tuple = tuple1 + tuple2
print(merged_tuple)

(1, 2, 3, 4, 5, 6)

In [77]:
# Using * Operator (Repetition):
tuple1 = (1, 2, 3)
merged_tuple = tuple1 * 2
print(merged_tuple)

(1, 2, 3, 1, 2, 3)

In [79]:
# Using tuple() Constructor with Unpacking:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
merged_tuple = tuple((*tuple1, *tuple2))
print(merged_tuple)

(1, 2, 3, 4, 5, 6)

In [81]:
# Using itertools.chain():
import itertools

tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
merged_tuple = tuple(itertools.chain(tuple1, tuple2))
print(merged_tuple)

(1, 2, 3, 4, 5, 6)

In [87]:
# Using sum() Function:
# sum() function ka use karke tuples ko merge kiya ja sakta hai, lekin ye method sirf tuples ke liye kaam karta hai.
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
merged_tuple = sum((tuple1, tuple2),())
print(merged_tuple)

(1, 2, 3, 4, 5, 6)

In [89]:
# Using zip() for Pairwise Merging:
# Agar aap tuples ko pairwise merge karna chahte hain (e.g., (1, 4), (2, 5), (3, 6)), toh zip() function ka use kar sakte hain.
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
merged_tuple = tuple(zip(tuple1, tuple2))
print(merged_tuple)

((1, 4), (2, 5), (3, 6))

In [91]:
# Using functools.reduce():
from functools import reduce

tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
tuple3 = (7, 8, 9)
merged_tuple = reduce(lambda x, y: x + y, (tuple1, tuple2, tuple3))
print(merged_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

### Length

In [94]:
# Using len() Function:
my_tuple = (1, 2, 3, 4, 5)
length = len(my_tuple)
print(length)

5

In [96]:
# Using a Loop (Manual Counting):
my_tuple = (1, 2, 3, 4, 5)
count = 0
for i in my_tuple:
    count += 1
print(count)

5

In [98]:
# Using __len__() Method:
my_tuple = (1, 2, 3, 4, 5)
length = my_tuple.__len__()
print(length)

5

In [104]:
# Using sum() Function with Generator Expression
my_tuple = (1, 2, 3, 4, 5)
length = sum(1 for _ in my_tuple)
print(length)

5

In [106]:
# Using reduce() from functools:
from functools import reduce

my_tuple = (1, 2, 3, 4, 5)
length = reduce(lambda x, _: x + 1, my_tuple, 0)
print(length)

5

In [108]:
# Using pandas Library:
import pandas as pd

my_tuple = (1, 2, 3, 4, 5)
length = pd.Series(my_tuple).size
print(length)

5

### Membership (in, not in)

In [112]:
t = (10, 20, 30, 40)
print(20 in t)    # Output: True
print(50 not in t) # Output: True

True
True

### Minimum & Maximum (min(), max())

In [116]:
t = (5, 10, 15, 20)
print(min(t))  # Output: 5
print(max(t))  # Output: 20

5
20

### Sum of Elements (sum())

In [119]:
t = (10, 20, 30)
print(sum(t))  # Output: 60

60

### Sorting (sorted())

In [122]:
t = (30, 10, 50, 20)
sorted_t = sorted(t)
print(sorted_t)  # Output: [10, 20, 30, 50]

[10, 20, 30, 50]

### Copying a Tuple

In [125]:
# Since tuples are immutable, direct assignment creates a reference, not a copy.
# Use tuple slicing [:] to create a new copy.
t1 = (1, 2, 3)
t2 = t1[:]  # Creates a new copy
print(t2)   # Output: (1, 2, 3)

(1, 2, 3)

### Tuple as Dictionary Keys

In [128]:
dict_with_tuple_keys = { (1, 2): "Point A", (3, 4): "Point B" }
print(dict_with_tuple_keys[(1, 2)])  # Output: "Point A"

Point A

In [130]:
# Using Tuples in for Loop
tuple_list = [(1, 'A'), (2, 'B'), (3, 'C')]
for number, letter in tuple_list:
    print(number, letter)

1 A
2 B
3 C